/* 统一的css变量管理 */

/* 字体大小 */
$fs-10:0.10rem;
$fs-12:0.12rem;
$fs-14:0.14rem;
$fs-16:0.16rem;
$fs-18:0.18rem;
$fs-20:0.20rem;
$fs-22:0.22rem;
$fs-24:0.24rem;
$fs-26:0.26rem;
$fs-28:0.28rem;


/* 颜色值 */
$color-whilte:#ffffff;
$color-black:#000000;
$color-green:#22AC38;
$border-color-gray:#cccccc;
$border-color-gray1:#dddddd;
$color-line-active:#1593ff;



